@font-face {
  font-family: "Avenir-Bk";
  src: url(../assets/_fonts/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: "Avenir-Med";
  src: url(../assets/_fonts/AvenirLTStd-Medium.otf);
}

@font-face {
  font-family: "Avenir-Rom";
  src: url(../assets/_fonts/AvenirLTStd-Roman.otf);
}

/* ======================================= GENERAL STYLE ======================================= */

* {
  box-sizing: border-box;
}

html,
body {
  font-family: Avenir-Bk, sans-serif;
  margin: 0;
  padding: 0;
}

.fa-icon {
  text-decoration: none;
  color: #daa520;
}

@media only screen and (max-width: 600px) {
  .fa-2x {
    font-size: 1.5em !important;
    padding-top: 6px !important;
  }
}

/* ======================================= HEADER STYLE ======================================= */

header {
  width: 100%;
  height: 8vh;
  background-color: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 25px -10px rgba(0, 0, 0, 0.6);
  color: #daa520;
}

.logo {
  font-size: 42px;
}

.logo-link {
  text-decoration: none;
  color: #daa520;
}

/* ======================================= NAV STYLE ======================================= */

.navbar {
  width: 100%;
  height: 7vh;
  background-color: #333;
  box-shadow: 0px 1px 25px -10px rgba(0, 0, 0, 0.6);
  color: #daa520;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  opacity: 1;
}

.navbar nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-img-1 {
  width: auto;
  height: 30px;
}

/* ======================================= CONTAINER STYLE ======================================= */

/* ======================================= HOME STYLE ======================================= */

#home .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home .content {
  width: 70%;
  /* min-width: 100%; */
  min-height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.grid-container-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 35px;
  grid-template-areas: "home-1 home-2 home-3";
}

.home-1 {
  grid-area: home-1;
  width: 35vh;
  height: 40vh;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  position: relative;
  display: table;
}

.home-2 {
  grid-area: home-2;
  width: 35vh;
  height: 40vh;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  position: relative;
  display: table;
}

.home-3 {
  grid-area: home-3;
  width: 35vh;
  height: 40vh;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  position: relative;
  display: table;
}

#home .tagline {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#home .layout-1 {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#home .layout-1 p {
  text-align: center;
  padding: 5em;
}

.fa-large {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .grid-container-home {
    grid-template-areas: "home-1" "home-2" "home-3";
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 600px) {
  .home-1 {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .home-2 {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .home-3 {
    margin-bottom: 50px;
  }
}

/* SHOP STYLE */

#shop .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shop .content {
  width: 70%;
  /* min-width: 100%; */
  min-height: 100vh;
  padding-top: 1em;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

#shop .heading {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

#shop .product {
  width: 26%;
  height: 450px;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}

#shop .product-img {
  width: 100%;
  height: 80%;
  background-color: #fff;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
}

#shop .product-img img {
  width: 90%;
  height: auto;
}

#shop .product .product-btn {
  width: 100%;
  height: 25%;
  padding-bottom: 0.5em;
  background-color: #333;
  font-size: 22px;
  text-decoration: none;
  color: #daa520;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  top: -12.5%;
  z-index: -1;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transform-origin: top center;
  transition: 0.25s ease-in-out;
}

#shop .product .product-btn:hover {
  transform: translateY(7.5%);
}

#shop .product a span {
  transform-origin: bottom center;
}

#shop .product a .arrow {
  width: auto;
  height: 29px;
  position: absolute;
  right: 1em;
  transform-origin: bottom center;
}

#shop .tagline {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#shop .layout-1 {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#home .layout-1 p {
  text-align: center;
  padding: 5em;
}

.shophome-img--box img {
  width: 100%;
}

.grid-container-shophome {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 35px;
  grid-template-areas: "shophome-1 shophome-2 shophome-3";
  margin-top: -20vh;
}

.shophome-1 {
  grid-area: shophome-1;
  width: 35vh;
  height: 40vh;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  position: relative;
  display: table;
}

.shophome-2 {
  grid-area: shophome-2;
  width: 35vh;
  height: 40vh;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  position: relative;
  display: table;
}

.shophome-3 {
  grid-area: shophome-3;
  width: 35vh;
  height: 40vh;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  position: relative;
  display: table;
}

#home .tagline {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .layout-1 {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

#home .layout-1 p {
  text-align: center;
  padding: 5em;
}

.fa-large {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .grid-container-shophome {
    grid-template-areas: "shophome-1" "shophome-2" "shophome-3";
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5vh;
  }
}

@media only screen and (max-width: 600px) {
  .shophome-1 {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .shophome-2 {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .shophome-3 {
    margin-bottom: 50px;
  }
}

/* ======================================= LOGIN / REGISTREER STYLE ======================================= */

#login .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login .content {
  width: 70%;
  /* min-width: 1150px; */
  min-height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#login .login-box {
  width: 35%;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  top: 19%;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 600px) {
  #login .login-box {
    width: 60%;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    top: 19%;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  }
}

#login .login-top {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

#login .login-top a {
  width: 50%;
  height: 100%;
  font-size: 22px;
  border: none;
  border-radius: 10px 0px 0px 0px;
  background-color: #daa520;
  color: #333;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: table;
}

#login .login-top a span {
  display: table-cell;
  vertical-align: middle;
}

#login .login-top a:nth-child(2) {
  border-radius: 0px 10px 0px 0px;
  background-color: #333;
  color: #daa520;
}

#login .login-form {
  width: 100%;
  height: 525px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#login .username {
  width: 65%;
  height: 60px;
  padding-left: 1em;
  margin-bottom: 1.5em;
  font-size: 18px;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding-right: 0px;
}

#login .password {
  width: 65%;
  height: 60px;
  padding-left: 1em;
  margin-bottom: 1.5em;
  font-size: 18px;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #f2f2f2;
}

#login .email {
  width: 65%;
  height: 60px;
  padding-left: 1em;
  margin-bottom: 1.5em;
  font-size: 18px;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #f2f2f2;
}

#login .submit {
  width: 50%;
  height: 60px;
  padding-left: 1em;
  margin-top: 2.5em;
  font-size: 18px;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #333;
  color: #daa520;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

#login .submit:hover {
  background-color: #daa520;
  color: #333;
}

/* ======================================= PRODUCT STYLE ======================================= */

#product .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product .content {
  width: 70%;
  min-width: 1150px;
  min-height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#product .product-box {
  width: 35%;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  top: 19%;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
}

/* ======================================= FOOTER STYLE ======================================= */

footer {
  width: 100%;
  height: 12vh;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #daa520;
}

.copy-text {
  font-size: 20px;
  margin-top: -45px;
}

@media only screen and (max-width: 600px) {
  .copy-text {
    font-size: 20px;
    margin-top: -25px;
  }
}

/* ======================================= ACCOUNT STYLE ======================================= */

#account .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#account .content {
  width: 70%;
  /* min-width: 1150px; */
  min-height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.grid-container-account {
  display: grid;
  margin-top: -130px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas: "long small-one small-two" "long small-three small-four";
}

@media only screen and (max-width: 600px) {
  .grid-container-account {
    display: grid;
    margin-top: -130px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas: "long" "small-one" "small-two" "long" "small-three" "small-four";
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5vh;
  }
}

.long {
  grid-area: long;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .long {
    margin-bottom: 25px;
    width: 35vh;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 40px;
  }
}

.small-one {
  grid-area: small-one;
  background-color: #fff;
  height: 35vh;
  width: 35vh;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .small-one {
    margin-bottom: 25px;
  }
}

.small-two {
  grid-area: small-two;
  background-color: #fff;
  height: 35vh;
  width: 35vh;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .small-two {
    margin-bottom: 25px;
  }
}

.small-three {
  grid-area: small-three;
  background-color: #fff;
  height: 35vh;
  width: 35vh;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .small-three {
    margin-bottom: 25px;
  }
}

.small-four {
  grid-area: small-four;
  background-color: #fff;
  height: 35vh;
  width: 35vh;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .small-four {
    margin-bottom: 25px;
    height: 50vh;
  }
}

.top {
  background-color: #333;
  height: 6vh;
  width: 100%;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: 0;
  position: absolute;
  color: #daa520;
  font-size: 20px;
  display: table;
}

.top p {
  display: table-cell;
  vertical-align: middle;
}

.bottom {
  background-color: #333;
  height: 6vh;
  width: 100%;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  bottom: 0;
  position: absolute;
  color: #daa520;
  font-size: 20px;
  display: table;
}

.bottom p {
  display: table-cell;
  vertical-align: middle;
}

.bottom i {
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  right: 0;
  padding-top: 8px;
  padding-right: 5px;
}

.bottom a {
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  right: 0;
  padding-top: 8px;
  padding-right: 5px;
  text-decoration: none;
  color: #daa520;
}

@media only screen and (max-width: 600px) {
  .bottom a {
    padding-top: 2px;
  }
}

.account-profile--picture {
  border: 3px solid #333;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table;
}

.account-profile--picture i {
  display: table-cell;
  vertical-align: middle;
}

.account-gegevens {
  text-align: center;
  color: #333;
  font-size: larger;
  font-weight: bolder;
}

.tekstje {
  padding-top: 50px;
  padding-left: 10px;
  color: #000;
  font-size: larger;
}

.tekstje2 {
  padding-top: 30px;
  padding-left: 10px;
  color: #000;
  font-size: larger;
}

/* ======================================= VRAGEN STYLE ======================================= */

#vragen .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#vragen .content {
  width: 70%;
  /* min-width: 100%; */
  min-height: 150vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#vragen .heading {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.grid-container-vragen {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 1px;
  grid-template-areas: "vraag-1" "vraag-2" "vraag-3" "vraag-4" "vraag-5" "vraag-6" "vraag-7" "vraag-8" "vraag-9";
}

@media only screen and (max-width: 600px) {
  .grid-container-vragen {
    padding-top: 5vh;
  }
}

.vraag-1 {
  grid-area: vraag-1;
  background-color: #333;
  width: 100vh;
  height: 6vh;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  display: table;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .vraag-1 {
    width: 50vh;
  }
}

.vraag-2 {
  grid-area: vraag-2;
  background-color: #333;
  width: 100vh;
  height: 6vh;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  display: table;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .vraag-2 {
    width: 50vh;
  }
}

.vraag-3 {
  grid-area: vraag-3;
  background-color: #333;
  width: 100vh;
  height: 6vh;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  display: table;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .vraag-3 {
    width: 50vh;
  }
}

.vraag-4 {
  grid-area: vraag-4;
  background-color: #333;
  width: 100vh;
  height: 6vh;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  display: table;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .vraag-4 {
    width: 50vh;
  }
}

.vraag-5 {
  grid-area: vraag-5;
  background-color: #333;
  width: 100vh;
  height: 6vh;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  display: table;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .vraag-5 {
    width: 50vh;
  }
}

.vraag-6 {
  grid-area: vraag-6;
  background-color: #333;
  width: 100vh;
  height: 6vh;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  display: table;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .vraag-6 {
    width: 50vh;
  }
}

.vraag-7 {
  grid-area: vraag-7;
  background-color: #333;
  width: 100vh;
  height: 6vh;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  display: table;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .vraag-7 {
    width: 50vh;
  }
}

.vraag-8 {
  grid-area: vraag-8;
  background-color: #333;
  width: 100vh;
  height: 6vh;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  display: table;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .vraag-8 {
    width: 50vh;
  }
}

.vraag-9 {
  grid-area: vraag-9;
  background-color: #333;
  width: 100vh;
  height: 6vh;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  display: table;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .vraag-9 {
    width: 50vh;
  }
}

.vragen-text {
  color: #daa520;
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vragen-icon {
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  right: 0;
  padding-top: 4px;
  padding-right: 15px;
}

.contact {
  width: 100%;
  height: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.contact-box {
  width: 50%;
  height: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.contact-email {
  width: 100%;
  height: 12.5%;
  font-family: Avenir-Med, sans-serif;
  text-align: center;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.contact-bericht {
  width: 100%;
  height: 50%;
  padding: 0.5em;
  font-family: Avenir-Rom, sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

/* ======================================= SHOP HOME STYLE ======================================= */

#shop-home .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shop-home .content {
  width: 70%;
  /* min-width: 1150px; */
  min-height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#shop-home .content a {
  text-decoration: none;
  color: #daa520;
}

.grid-container-shop {
  margin-top: -20vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 35px;
  grid-template-areas: "boozeboxes persoonlijkadvies producten";
}

@media only screen and (max-width: 600px) {
  .grid-container-shop {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "boozeboxes" "persoonlijkadvies" "producten";
    padding-top: 30vh;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.boozeboxes {
  grid-area: boozeboxes;
  width: 35vh;
  height: 40vh;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  position: relative;
  display: table;
}

@media only screen and (max-width: 600px) {
  .boozeboxes {
    margin-bottom: 50px;
  }
}

.persoonlijkadvies {
  grid-area: persoonlijkadvies;
  width: 35vh;
  height: 40vh;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  position: relative;
  display: table;
}

@media only screen and (max-width: 600px) {
  .persoonlijkadvies {
    margin-bottom: 50px;
  }
}

.producten {
  grid-area: producten;
  width: 35vh;
  height: 40vh;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  position: relative;
  display: table;
}

@media only screen and (max-width: 600px) {
  .persoonlijkadvies {
    margin-bottom: 50px;
  }
}

/* ======================================= BOX SHOP STYLE ======================================= */

#boxshop .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#boxshop .content {
  width: 70%;
  /* min-width: 1150px; */
  min-height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.grid-container-boxshop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "productfoto productinfo";
}

@media only screen and (max-width: 600px) {
  .grid-container-boxshop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "productfoto" "productinfo";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
  }
}

.productfoto {
  grid-area: productfoto;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px 0px 0px 10px;
  height: 65vh;
  width: 40vh;
  display: table;
}

@media only screen and (max-width: 600px) {
  .productfoto {
    grid-area: productfoto;
    background-color: #fff;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
    height: 30vh;
    width: 35vh;
    display: table;
  }
}

.productinfo {
  grid-area: productinfo;
  background-color: #333;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  border-radius: 0px 10px 10px 0px;
  height: 65vh;
  width: 40vh;
}

@media only screen and (max-width: 600px) {
  .productinfo {
    grid-area: productinfo;
    background-color: #333;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    height: 85vh;
    width: 35vh;
    margin-bottom: 50px;
  }
}

#boxshop .product-img--box {
  display: table-cell;
  vertical-align: middle;
}

#boxshop .product-img--box img {
  width: 350px;
}

@media only screen and (max-width: 600px) {
  #boxshop .product-img--box img {
    width: 250px;
  }
}

.product-info--box {
  color: #daa520;
}

.product-info--box .title {
  text-align: center;
  font-size: xx-large;
}

.product-info--box a {
  color: #daa520;
  text-decoration: none;
}

.product-info--box .beschrijving {
  font-size: larger;
  padding-left: 50px;
}

.product-info--box .bestel-knop {
  font-size: larger;
  text-align: right;
  padding-right: 25px;
}

.product-info--box .bestel-knop a {
  color: #daa520;
  text-decoration: none;
}

/* ======================================= PRODUCTEN STYLE ======================================= */

#producten .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#producten .content {
  width: 70%;
  /* min-width: 1150px; */
  min-height: 100vh;
  padding: 0 2em;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#producten .heading {
  width: 100%;
  height: 50px;
  display: flex;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
}

.grid-container-producten {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 25px 50px;
  grid-template-areas: "fles-1 fles-2 fles-3" "fles-4 fles-5 fles-6" "fles-7 fles-8 fles-9";
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .grid-container-producten {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "fles-1" "fles-2" "fles-3" "fles-4" "fles-5" "fles-6" "fles-7" "fles-8" "fles-9";
  }
}

.fles-1 {
  grid-area: fles-1;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  height: 40vh;
  width: 100%;
}

.fles-2 {
  grid-area: fles-2;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

.fles-3 {
  grid-area: fles-3;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

.fles-4 {
  grid-area: fles-4;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

.fles-5 {
  grid-area: fles-5;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

.fles-6 {
  grid-area: fles-6;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

.fles-7 {
  grid-area: fles-7;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

.fles-8 {
  grid-area: fles-8;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

.fles-9 {
  grid-area: fles-9;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
}

#producten .product-img--box {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#producten .product-img--box img {
  padding-top: 30px;
  width: 40%;
  height: auto;
}

/* ======================================= ADVIES STYLE ======================================= */

#advies .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#advies .content {
  width: 70%;
  /* min-width: 1150px; */
  min-height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#advies .heading {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -250px;
}

.grid-container-advies {
  margin-top: -20vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 35px;
  grid-template-areas: "advies-1 advies-2";
}

@media only screen and (max-width: 600px) {
  .grid-container-advies {
    margin-top: -20vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1px 35px;
    grid-template-areas: "advies-1" "advies-2";
    padding-top: 30vh;
  }
}

.advies-1 {
  grid-area: advies-1;
  width: 35vh;
  height: 40vh;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  position: relative;
  display: table;
  margin-top: -400px;
}

@media only screen and (max-width: 600px) {
  .advies-1 {
    margin-bottom: 50px;
    margin-top: 0px;
  }
}

.advies-2 {
  grid-area: advies-2;
  width: 35vh;
  height: 40vh;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.25);
  position: relative;
  display: table;
  margin-top: -400px;
}

@media only screen and (max-width: 600px) {
  .advies-2 {
    margin-bottom: 50px;
    margin-top: 0px;
  }
}

.input-box {
  padding-left: 50px;
}

@media only screen and (max-width: 600px) {
  .input-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
  }
}

.input-box input {
  border-radius: 5px;
}

.dropbtn {
  background-color: #daa520;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #daa520;
}

.dropdown {

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.ideal-betaling {
  width: 100%;
  padding-left: 50px;
}